<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Document
    link(rel="stylesheet",href="./style/login.css")
body
    h6  #{showinfo}
    form.myform(action="/home" method="post")
        label 用户名：
        input.username(type="text" name="username")
        br
        label 密&nbsp;码：
        input.password(type="text" name="password")
        br
        button.btn 提交
    script(src="script/jquery.js")
    script(src="script/login.js")