<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
body
	h3 header部分
	ul
		li
			a(href="/") 主页
		li
			a(href="/sp") 体育
		li
			a(href="/ne") 新闻
		li
			a(href="/fl") 动画

	block content

	h3 footer部分